<!-- Favicon.ico start -->
<link rel="apple-touch-icon" sizes="180x180" href="/careers/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/careers/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/careers/favicon-16x16.png">
<link rel="manifest" href="/careers/site.webmanifest">
<link rel="mask-icon" href="/careers/safari-pinned-tab.svg" color="#56ccc2">
<link rel="shortcut icon" href="/careers/favicon.ico">
<meta name="msapplication-TileColor" content="#56ccc2">
<meta name="msapplication-config" content="/careers/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
<!-- Favicon.ico end -->
